name: Automatisation des tests DevSecOps
on: push
jobs:
  Dependances:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Dependances
        run: |

          if [ ! -f "requirements.txt" ]; then
            echo "le fichier requirements.txt n'existe pas"
            exit 1
          fi
          echo "Le fichier requirements.txt a été trouvé"

          if [ ! -s "requirements.txt" ]; then
            echo "Le fihcier requirements.txt est vide"
            exit 1
          fi
          echo "Le fichier requirements.txt n'est pas vide"

  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances
    steps:
      - uses: actions/checkout@v4
      - name: Test Dockerfile
        run: |
          # Vérifier que Dockerfile existe
          if [ ! -f "Dockerfile" ]; then
            echo "Le Dockerfile n'existe pas"
            exit 1
          fi
          echo "Dockerfile a été trouvé"

          # Vérifier que le fichier commence par FROM
          if ! grep -q "^FROM" Dockerfile; then
            echo "Le Dockerfile invalide (pas d'instruction FROM)"
            exit 1
          fi
          echo "Le Dockerfile est valide"

  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Deploy
        run: |
          echo "Rien à faire ici. Votre application est prête à être déployée"
